<div class="page-container">
    <div class="header">
        <particles [style]="style" [width]="100" [height]="100" [params]="particlesOptions"></particles>
        <div class="vertical-align title-container" *ngIf="rockets">
            <div class="full-width title-subcontainer">
                <span class="title text-center d-block">SpaceX : our rockets.</span>
                <mat-grid-list cols="3">
                    <mat-grid-tile *ngFor="let rocket of rockets">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title *ngIf="rocket.name">{{ rocket.name }}</mat-card-title>
                                <mat-card-subtitle *ngIf="rocket.type">{{ rocket.type | titlecase }}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="element-wrapper">
                                    <div class="element">
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.active }}</div>
                                            <div class="element-title">Active</div>
                                        </div>
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.stages }}</div>
                                            <div class="element-title">Stage</div>
                                        </div>
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.boosters }}</div>
                                            <div class="element-title">Booster</div>
                                        </div>
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.cost_per_launch }}</div>
                                            <div class="element-title">Cost per launch</div>
                                        </div>
                                    </div>
                                    <div class="element">
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.first_flight }}</div>
                                            <div class="element-title">First flight</div>
                                        </div>
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.engines.type }}</div>
                                            <div class="element-title">Engine</div>
                                        </div>
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.height.meters }}</div>
                                            <div class="element-title">Meters</div>
                                        </div>
                                        <div class="element-facts">
                                            <div class="element-content">{{ rocket.height.feet }}</div>
                                            <div class="element-title">Feet</div>
                                        </div>
                                    </div>
                                </div>
                                <p class="element-description">
                                    {{ rocket.description }}
                                </p>
                            </mat-card-content>
                          </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>
</div>