<div class="page-container">
    <div class="header">
        <particles [style]="style" [width]="100" [height]="100" [params]="particlesOptions"></particles>
        <div class="vertical-align title-container">
            <div class="text-center">
                <span class="title d-block">SpaceX</span>
                <span class="description d-block">Get informations about our latest features.</span>
                <span class="description d-block">Only on spaceX.</span>
                <button color="primary" type="button" class="spacex-btn" mat-raised-button>Get started</button>
            </div>
        </div>
    </div>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <img src="/assets/esgi.png" width="150"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/spacex.png" width="150"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/angular.jpeg" width="150"/>
        </mat-grid-tile>
    </mat-grid-list>
</div>