<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p><a *ngFor="let m of menu" class="d-block sidenav-link" routerLink="{{m.path}}" router>{{m.name}}</a></p>
    </mat-drawer>
    
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
        </button>
    </div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</mat-drawer-container>

