.sidenav-link .mat-icon{
    margin-right: 0.7rem;
}

.sidenav-link{
    padding-left: 15px;
    padding-right: 15px;
}

.example-sidenav-content{
    /* background-color: #de4f4f; */
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12); */
}

.example-container{
    height: 100%;
}