.title-container{
    height: 100%;
    color: #ffffff;
}

.title-subcontainer{
    padding: 50px;
}

.element-wrapper{
    display: flex;
}

.element{
    width: 50%;
}

.element-description{
    height: 40px;
    overflow-y: scroll;
}

.search-wrapper{
    margin-bottom: 30px;
}

.rocket-link{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
}

.example-header-image{
    background: url(/assets/company.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background: white;
}

.example-full-width {
    width: 100%;
}

.header{
    height: 100%;
}

.page-container{
    height: 100%;
}

.mat-grid-tile{
    /* background: #181c1f; */
    width: 250px;
}

.element-title{
    opacity: 0.3;
    font-size: 15px; 
    margin-bottom: 10px;
}

.title{
    font-size: 45px;
    padding: 25px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.subtitle{
    margin-top: 30px;
    font-size: 30px;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.description{
    font-size: 17px;
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 65vw;
    margin-bottom: 25px;
}

.description{
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}

.spacex-btn{
    width: 150px;
    margin-top: 25px;
}

.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}